<h1 class="Display-5">Login: Validaciones Reactivas</h1>
<hr>
<!--Construcción del formulario-->
<div class="row">
    <div class="col">
        <form autocomplete="off" [formGroup]="formularioLogin">
            <!--Username-->
            <div class="row mb-3">
                <label for="" class="col-sm-3 col-form-label">Username</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="Escribe tu nombre de usuario..." formControlName="username">
                </div>
            </div>
            <!--Password-->
            <div class="row mb-3">
                <label for="" class="col-sm-3 col-form-label">Password</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="Escribe tu contraseña..." formControlName="password">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button class="btn btn-primary float-end" routerLink="template/basicos" [disabled]="formularioLogin.invalid">Iniciar sesión</button>
                </div>
            </div>
        </form>
    </div>
</div>